body{
    background-color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F3FF90;
}
.container{
    background-color: #06D001 ;
    margin: auto;
    width: 600px;
    box-shadow: 1px 3px 8px 1px rgba(0,0, 0,0, 0,0, 0,1);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 200px;


}
.header{
    padding: 2.5rem;

}
.flex-container{
    display: flex;
    background-color: #9BEC00;
    justify-content: space-around;


}
.header-title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    

}
.header-subtitle{
    color: #9fffea;
    font-size: 1.12rem;
    font-weight: 500;
    margin-top: 0.6rem;
    margin-bottom: 0.9rem ;
}
.column1{
  
  
    background-color: #9dff00;
    width: 50%;
    color: #035e03;
    padding: 1.2rem;

}
.column1-header-title{
    text-align: center;
    margin-bottom: 1.2rem;
    
    font-weight: 700;

font-size: 1.1rem;

}

.button{
    width: 100%;
    padding: 0.9rem 2rem;
    margin-top: 0.9rem;
    font-size: 1rem;
    color:#2a6802;
    border-radius: 5px;
    font-weight: 1000;
    border: none;
    cursor: pointer;

}
.button:hover{
    background-color: rgb(218, 216, 216);

}
.price{
    font-size: 1.6rem;
    font-weight: 700;
}
.month{
    font-family: italic ;
    font-size: 0.9rem;
}
.image-group{
    text-align: center;

}
.column2{

    background-color: #00ff80;
    width: 50%;
    padding: 1.2rem;
    
}
.column2-header-title{

    font-size: 1.2rem;
    font-weight: 700;
}
@media screen and (max-width:620px) {
    html{
        font-size: 10px;
    }
    .flex-container{
        flex-direction: column;
    }
    .column1 , .column2{
        width: 100%;
        box-sizing: border-box;
    }
    .container{
        width: 95%;
    }
    
    
}

